<%- include header %>

<header>
<h1><%= title %></h1>
</header>

<div class="jumbotron">
<% if (!user) { %>
	<h2>
		Welcome to FYP!
	</h2>
	<p>
		<a class="btn btn-primary" href="/login">Sign in</a>
		<a class="btn btn-success" href="/reg">Sign up Now!!</a>
	</p>
<% } %>
	<form role="form">
		<div class="form-group">
			<div class="row">
				<div class="col-md-7 col-md-offset-1">
					<input type="text" class="form-control" id="search_words">
				</div>
				<div class="col-md-2">
					<select class="form-control" id="search_rule" data-style="btn-success">
						<option>All items</option>
						<option>Item title</option>
						<option>Category</option>
						<option>Keyword</option>
						<option>Item description</option>
						<option>User name</option>
						<option>List title</option>
					</select>
				</div>
				<div class="col-md-1">
					<button class="btn btn-default" type="button" id="search_button">Go!</button>
				</div>
			</div>
		</div>
<% if (user) { %>
<% if (user.userType == "admin") { %>
		<div class="form-group">
			<div class="pull-right">
				<a href="/add-item" type="button" class="btn btn-info">Add an item</a>
				<a href="#create_list_modal" type="button" class="btn btn-success" data-toggle="modal" >Create a List</a>
				<a href="#generate_modal" type="button" class="btn btn-warning" data-toggle="modal" >Generate a list!</a>
			</div>
		</div>
<% } %>
<% } %>
	</form>
</div>

<% if (user) { %>
<div class="container">
	<div class="row-fluid">
		<%- include item_view_panel %>
		<%- include list_view_panel %>
	</div>
</div>
<% } %>


<!--This is new generate_list modal-->

<div class="modal fade" id="generate_modal" tabindex="-1" role="dialog" aria-labelledby="removeLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Generate List!</h3>
			</div>
			<div class="modal-body" id="modal_body">
				<form role="form" class="form-horizontal generate_rule" id="rule_form_1">
					<div class="form-group">
						<h4>
							<span class="label label-info">Rule</span>
							<div class="pull-right">
								<a type="button" class="btn btn-primary btn-xs add_rule">Add</a>
							</div>
						<h4>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<select class="form-control" id="condition_1">
								<option>Random</option>
								<option>Top Rated</option>
								<option>Last updated</option>
								<option>Last Added</option>
							</select>
						</div>
						<div>
							<a type="button" class="btn btn-info btn-xs add_condition">Add</a>
							<span class="pull-right">
								<input type="text" class="form-control" required="required" maxlength="2" value="0">
							</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal">Cancel</a>
				<a class="btn btn-primary" id="create_list_by_rule_confirm_btn_1">Create!</a>
			</div>
		</div>
	</div>
</div>


<script>
var condition_num = 2;
var rule_num = 2;
var match = false;
var limit_num_of_item = 5;

var value = "Top Rated";
$("#rule_2").val(value);
$("#edit_item_category").change();

$(document).ready(function(){

	$("#create_list_by_rule_confirm_btn_1").click(function(){
		var url = "/generate-list-by-rule",
			selected_rules = [],
			selected_conditions = [],
			selected_nums = [];
		$("#modal_body").find(".generate_rule").each(function(){
			$(this).find("select").each(function(){
				selected_conditions.push($(this).val());
			});
			selected_rules.push(selected_conditions);
			selected_conditions = [];
		});
		$("#modal_body").find("input").each(function(){
			if($(this).val() > limit_num_of_item){
				match = false;
			}else{
				match = true;
			}
			selected_nums.push($(this).val());
		});

		if(match){
			$.post(url,{
						selected_rules: selected_rules,
						selected_nums: selected_nums
						},function(data){
						if(data.status == 1){
							window.location.href="/";
						}else{
							alert("Out of items\'s amount limit, Please repick numbers");
						}
			});
		}else{
			alert("Sorry, you can only view at most 5 items per rule at once");
		}
		
	});

	
	$("#search_button").click(function(){
		var url = "/search-items",
			rule = $("#search_rule").val(),
			search_words = $("#search_words").val();
		$.post(url,{
					search_rule: rule,
					search_word: search_words
					},function(data){
					if(data.status == 1){
						window.location.href="/";
					}else{
						alert("error");
					}
		});
	});
	
});

$("#modal_body").on('click', '.add_condition',function(){
	var num_of_condition = 0;
	$(this).closest('.form-horizontal').find("select").each(function(){
		num_of_condition++;
	});

	if(num_of_condition < 3){
		var newConditionForm = $("<div>").attr('class', 'form-group');
		newConditionForm.html([
			"<div class='col-md-4'>",
				"<select class='form-control' id='condition_", condition_num, "'>",
					"<option>Random</option>",
					"<option>Top Rated</option>",
					"<option>Last updated</option>",
					"<option>Last Added</option>",
				"</select>",
			"</div>",
			"<div>",
				"<a type='button' class='btn btn-info btn-xs add_condition'>Add</a>",
				"<a type='button' class='btn btn-warning btn-xs remove_condition'>remove</a>",
			"</div>"].join(""));
		$(this).closest('.form-group').before(newConditionForm);
		
		condition_num++;
	}
});

$("#modal_body").on('click', '.remove_condition',function(){
	$(this).closest('.form-group').remove();
});


$("#modal_body").on("click",".add_rule", function(){
	var num_of_rule = 0;
	$(this).closest('#modal_body').find("form").each(function(){
		num_of_rule++;
	});

	if(num_of_rule < 3){
		var newRuleForm = $("<form>").attr({class: 'form-horizontal generate_rule',
											id: 'rule_form_' + rule_num});
		newRuleForm.html([
		"<div class='form-group'>",
			"<h4>",
				"<span class='label label-info'>Rule</span>",
				"<div class='pull-right'>",
					"<a type='button' class='btn btn-primary btn-xs add_rule'>Add</a>",
					"<a type='button' class='btn btn-danger btn-xs remove_rule'>remove</a>",
				"</div>",
			"<h4>",
		"</div>",
		"<div class='form-group'>",
			"<div class='col-md-4'>",
				"<select class='form-control' id='condition_", condition_num, "'>",
					"<option>Random</option>",
					"<option>Top Rated</option>",
					"<option>Last updated</option>",
					"<option>Last Added</option>",
				"</select>",
			"</div>",
			"<div>",
				"<a type='button' class='btn btn-info btn-xs add_condition'>Add</a>",
				"<span class='pull-right'>",
					"<input type='text' class='form-control' required='required' maxlength='2' value='0'>",
				"</span>",
			"</div>",
		"</div>"
		].join(""));
	//	$(this).closest('form').after(newRuleForm);
		newRuleForm.appendTo("#modal_body");
		
		condition_num++;
		rule_num++;
	}
});

$("#modal_body").on('click', '.remove_rule',function(){
	$(this).closest('.form-horizontal').remove();
});

</script>

<%- include footer %>