<%- include header %>

<header>
<h1><%= title %></h1>
</header>

<div class="alert alert-warning" id="warning_alert">
		test
</div>

<div class="jumbotron">
<% if (!user) { %>
	<h2>
		Welcome to FYP!
	</h2>
	<p>
		<a class="btn btn-primary" href="/login">Sign in</a>
		<a class="btn btn-success" href="/reg">Sign up Now!!</a>
	</p>
<% } %>
	<form role="form">
		<div class="form-group">
			<div class="input-group col-lg-6 col-md-6 col-md-offset-3">
				<input type="text" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Go!</button>
				</span>
			</div>
		</div>
<% if (user) { %>
<% if (user.userType == "admin") { %>
		<div class="form-group">
			<div class="pull-right">
				<a href="/add-item" type="button" class="btn btn-info">Add an item</a>
				<a href="#create_list_modal" type="button" class="btn btn-success" data-toggle="modal" >Create a List</a>
				<a href="#random_items" type="button" class="btn btn-primary">Generate a list!</a>
			</div>
		</div>
<% } %>
<% } %>
	</form>
</div>
<% if (user) { %>
<div class="container">
	<div class="row-fluid">
		<%- include item_view_panel %>
		<%- include list_view_panel %>
	</div>
</div>
<% } %>

<!--This is create_item modal-->

<div class="modal fade" id="random_items" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Generate a list!</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<label class="control-label" for="itemName">List name</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="create_listName" autofocus="autofocus" required="required" maxlength="25" placeholder="List name">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<label class="control-label" for="info">List Information</label>
						</div>
						<div class="col-md-8">
							<textarea class="form-control" id="create_info" name="info" row="8" placeholder="Some info here"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal" id="cancel_create">Cancel</a>
				<a class="btn btn-primary" id="create_list_confirm_btn">Create!</a>
			</div>
		</div>
	</div>
</div>

<%- include footer %>