<%- include header %>

<header>
<h1><%= title %></h1>
</header>

<div class="jumbotron">
<% if (!user) { %>
	<h2>
		Welcome to FYP!
	</h2>
	<p>
		<a class="btn btn-primary" href="/login">Sign in</a>
		<a class="btn btn-success" href="/reg">Sign up Now!!</a>
	</p>
<% } %>
	<form role="form">
		<div class="form-group">
			<div class="row">
				<div class="col-md-7 col-md-offset-1">
					<input type="text" class="form-control" id="search_words">
				</div>
				<div class="col-md-2">
					<select class="form-control" id="search_rule" data-style="btn-success">
						<option>All items</option>
						<option>Item title</option>
						<option>Category</option>
						<option>Keyword</option>
						<option>Item description</option>
						<option>User name</option>
						<option>List title</option>
					</select>
				</div>
				<div class="col-md-1">
					<button class="btn btn-default" type="button" id="search_button">Go!</button>
				</div>
			</div>
		</div>
<% if (user) { %>
<% if (user.userType == "admin") { %>
		<div class="form-group">
			<div class="pull-right">
				<a href="/add-item" type="button" class="btn btn-info">Add an item</a>
				<a href="#create_list_modal" type="button" class="btn btn-success" data-toggle="modal" >Create a List</a>
				<a href="#generate_list" type="button" class="btn btn-primary" data-toggle="modal" >Generate a list!</a>
				<a href="#generate_modal" type="button" class="btn btn-warning" data-toggle="modal" >Generate a list!</a>
			</div>
		</div>
<% } %>
<% } %>
	</form>
</div>

<% if (user) { %>
<div class="container">
	<div class="row-fluid">
		<%- include item_view_panel %>
		<%- include list_view_panel %>
	</div>
</div>
<% } %>


<!--This is generate_list modal-->

<div class="modal fade" id="generate_list" tabindex="-1" role="dialog" aria-labelledby="removeLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Generate a list!</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<label class="col-md-2 control-label">Rules: </label>
						<div class="col-md-4">
							<select class="form-control" name="rule_1" id="rule_1">
								<option>Random</option>
								<option>Top Rated</option>
								<option>Last updated</option>
								<option>Last Added</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="control-label">Number of items</label>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" id="number_items_1" autofocus="autofocus" required="required" maxlength="2" value="3">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="col-md-2 control-label">Rules: </label>
						<div class="col-md-4">
							<select class="form-control" name="rule_2" id="rule_2">
								<option>Random</option>
								<option>Top Rated</option>
								<option>Last updated</option>
								<option>Last Added</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="control-label">Number of items</label>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" id="number_items_2" autofocus="autofocus" required="required" maxlength="2" value="2">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="col-md-2 control-label">Rules: </label>
						<div class="col-md-4">
							<select class="form-control" name="rule_3" id="rule_3">
								<option>Random</option>
								<option>Top Rated</option>
								<option selected="true">Last updated</option>
								<option>Last Added</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="control-label">Number of items</label>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" id="number_items_3" autofocus="autofocus" required="required" maxlength="2" value="0">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="col-md-2 control-label">Rules: </label>
						<div class="col-md-4">
							<select class="form-control" name="rule_4" id="rule_4">
								<option>Random</option>
								<option>Top Rated</option>
								<option>Last updated</option>
								<option selected="true">Last Added</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="control-label">Number of items</label>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" id="number_items_4" autofocus="autofocus" required="required" maxlength="2" value="0">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal" id="cancel_create">Cancel</a>
				<a class="btn btn-primary" id="create_list_by_rule_confirm_btn">Create!</a>
			</div>
		</div>
	</div>
</div>


<!--This is new generate_list modal-->

<div class="modal fade" id="generate_modal" tabindex="-1" role="dialog" aria-labelledby="removeLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Generate List!</h3>
			</div>
			<div class="modal-body" id="modal_body">
				<form role="form" class="form-horizontal" id="rule_form_1">
					<div class="form-group">
						<h4>
							<span class="label label-info">Rule</span>
							<div class="pull-right">
								<a type="button" class="btn btn-primary btn-xs add_rule">Add</a>
							</div>
						<h4>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<select class="form-control" id="condition_1">
								<option>Random</option>
								<option>Top Rated</option>
								<option>Last updated</option>
								<option>Last Added</option>
							</select>
						</div>
						<div>
							<a type="button" class="btn btn-info btn-xs add_condition">Add</a>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal">Cancel</a>
				<a class="btn btn-primary" id="create_list_confirm_btn">Create!</a>
			</div>
		</div>
	</div>
</div>


<script>
var rule1, rule2, rule3, rule4;
var num1, num2, num3, num4;
var condition_num = 2;
var rule_num = 2;

var value = "Top Rated";
$("#rule_2").val(value);
$("#edit_item_category").change();

$(document).ready(function(){
	$("#create_list_by_rule_confirm_btn").click(function(){
		var url = "/generate-list",
		rule1 = $("#rule_1").val(),
		num1 = $("#number_items_1").val();
		rule2 = $("#rule_2").val(),
		num2 = $("#number_items_2").val();
		rule3 = $("#rule_3").val(),
		num3 = $("#number_items_3").val();
		rule4 = $("#rule_4").val(),
		num4 = $("#number_items_4").val();

		$.post(url,{
					rule1: rule1, 
					rule2: rule2, 
					rule3: rule3, 
					rule4: rule4, 
					num1: num1,
					num2: num2,
					num3: num3,
					num4: num4,
					itemPage: 1
					},function(data){
					if(data.status == 1){
						window.location.href="/";
					}else{
						alert("Out of items\'s amount limit, Please repick numbers");
					}
		});
	});

	$("#search_button").click(function(){
		var url = "/search-items",
			rule = $("#search_rule").val(),
			search_words = $("#search_words").val();
		$.post(url,{
					search_rule: rule,
					search_word: search_words
					},function(data){
					if(data.status == 1){
						window.location.href="/";
					}else{
						alert("error");
					}
		});
	});
	
});

$("#modal_body").on('click', '.add_condition',function(){
	var newConditionForm = $("<div>").attr('class', 'form-group');
	newConditionForm.html([
		"<div class='col-md-4'>",
			"<select class='form-control' id='condition_", condition_num, "'>",
				"<option>Random</option>",
				"<option>Top Rated</option>",
				"<option>Last updated</option>",
				"<option>Last Added</option>",
			"</select>",
		"</div>",
		"<div>",
			"<a type='button' class='btn btn-info btn-xs add_condition'>Add</a>",
			"<a type='button' class='btn btn-warning btn-xs remove_condition'>remove</a>",
		"</div>"].join(""));
	$(this).closest('form').append(newConditionForm);
	
	condition_num++;
});

$("#modal_body").on('click', '.remove_condition',function(){
	$(this).closest('.form-group').remove();
});


$("#modal_body").on("click",".add_rule", function(){
	var newRuleForm = $("<form>").attr({class: 'form-horizontal',
										id: 'rule_form_' + rule_num});
	
	console.log(rule_num);
	newRuleForm.html([
	"<div class='form-group'>",
		"<h4>",
			"<span class='label label-info'>Rule</span>",
			"<div class='pull-right'>",
				"<a type='button' class='btn btn-primary btn-xs add_rule'>Add</a>",
				"<a type='button' class='btn btn-danger btn-xs remove_rule'>remove</a>",
			"</div>",
		"<h4>",
	"</div>",
	"<div class='form-group'>",
		"<div class='col-md-4'>",
			"<select class='form-control' id='rule_", condition_num, "'>",
				"<option>Random</option>",
				"<option>Top Rated</option>",
				"<option>Last updated</option>",
				"<option>Last Added</option>",
			"</select>",
		"</div>",
		"<div>",
			"<a type='button' class='btn btn-info btn-xs add_condition'>Add</a>",
		"</div>",
	"</div>"
	].join(""));
	newRuleForm.appendTo("#modal_body");
	
	condition_num++;
	rule_num++;
});

$("#modal_body").on('click', '.remove_rule',function(){
	$(this).closest('.form-horizontal').remove();
});

</script>

<%- include footer %>