<div class="col-md-6 col-md-offset-1">
<div class="center-block text-primary" id="list_title">
	<h3><%= titleName %>
		<% if (listType == "auto") { %>
			<div class="pull-right btn-group hidden" id="list_title_dropdown">
				<button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown">more<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#save_list_modal" data-toggle="modal" onclick="save_list_function()">Save</a></li>
				</ul>
			</div>
		<% } %>
	<h3>
</div>
	<div class="scroll-area" data-spy="scroll" data-offset="0">
		<div class="panel-group" id="item_accordion">
		<% items.forEach(function (item, index) { %>
			<div class="panel panel-default" id="single_item">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="#panel_<%= item.itemId %>" data-toggle="collapse" data-parent="#item_accordion" onclick="find_item_rate_function('<%= item.itemId %>', '<%= user.userId %>')">
							<%= item.itemName %>
						</a>
						<% if (user.userType == "admin") { %>
							<div class="pull-right btn-group hidden" id="item_dropdown">
								<button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">more<span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#add_to_list_modal" data-toggle="modal" onclick="add_to_list_function('<%= item.itemName %>', '<%= item.itemId %>')">Add to</a></li>
									<li><a href="/edit-item/<%= item.itemId %>">Edit</a></li>
									<li><a href="#remove-modal" data-toggle="modal" onclick="remove_function('<%= item.itemId %>', '<%= item.itemName %>')" id="remove_item">remove</a></li>
								</ul>
							</div>
						<% } %>
					</h3>
<!--This is remove_item modal-->
					<div class="modal fade" id="remove-modal" tabindex="-1" role="dialog" aria-labelledby="removeLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h3>Comfirm remove</h3>
								</div>
								<div class="modal-body">
									<p id="modalP">Are you sure you want to remove this item</p>
								</div>
								<div class="modal-footer">
									<a class="btn" data-dismiss="modal">Cancel</a>
									<a class="btn btn-primary" name="remove-btn" id="remove_confirm_btn">remove</a>
								</div>
							</div>
						</div>
					</div>
<!--This is add_to_list modal-->
					<div class="modal fade" id="add_to_list_modal" tabindex="-1" role="dialog" aria-labelledby="removeLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h3>Please select a list you want to add "<%= item.itemName %>" in</h3>
								</div>
								<div class="modal-body">
									<div>
										<% lists.forEach(function (list, index) { %>
											  <a class="list-group-item" onclick="select_list_function('<%= list.listName %>','<%= list.listId %>', '<%= list.itemIdList %>', '<%= list.itemNameList %>', '<%= list.rate %>', '<%= list.info %>')">
												<h4 class="list-group-item-heading"><%= list.listName %> <span class="label label-info pull-right"><%= list.itemNameList.length %></span></h4>
												<p class="list-group-item-text"><%= list.info %></p>
											  </a>
										<% }) %>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn" data-dismiss="modal" id="cancel_add_to_list">Cancel</a>
								</div>
							</div>
						</div>
					</div>
<!--This is save_list modal-->
					<div class="modal fade" id="save_list_modal" tabindex="-1" role="dialog" aria-labelledby="removeLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h3>Please fill fields below</h3>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="control-label" for="itemName">List name</label>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" id="generate_listName" autofocus="autofocus" required="required" maxlength="25" placeholder="List name">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-3">
												<label class="control-label" for="info">List Information</label>
											</div>
											<div class="col-md-8">
												<textarea class="form-control" id="generate_info" name="info" row="8" placeholder="Some info here"></textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn" data-dismiss="modal" id="cancel_save_list">Cancel</a>
									<a class="btn btn-primary" id="save_list_confirm_btn">Save!</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="panel-collapse collapse" id="panel_<%= item.itemId %>">
					<div class="panel-body">
						<p class="text-muted">
							<strong>Category:</strong> <%= item.category %>  |  <strong>User name:</strong> <a href="/user/<%= item.userName %>"><%= item.userName %></a>
						</p>
						<p class="text-muted">
							<strong>Added:</strong> <%= item.addedTime.minute %>  |  <strong>Last Updated:</strong> <%= item.lastUpdatedTime.minute %>
						</p>
						<p class="text-muted">
							<strong>Keyword:</strong>
							<% item.keyword.forEach(function (tag, index) { %>
								<span class="label label-warning"><%= tag %></span>
							<% }) %>
						</p>
						<p class="text-muted">
							<strong>Rate: <span class="rateit" data-rateit-value="<%= item.rate %>" data-rateit-ispreset="true" data-rateit-readonly="true"></span></strong>
							| <span class="rateit" id="rateit2" data-id="<%= item.itemId %>" data-rateit-resetable="false" data-rateit-ispreset="true"></span>
							<span class="label label-info pull-right" id="item_rated">0</span>
						</p>
						<p><strong>Description:</strong></p>
						<p><%= item.description %></p>
					</div>
				</div>
			</div>
		<% }) %>
<script>
var item_id,
	item_name,
	listName,
	info,
	item_rate = 0;


$(document).ready(function(){
//	$("#item_accordion .collapse").first().collapse('show');

	
	$("#item_accordion .panel-default").mouseover(function(){
		$(this).find('#item_dropdown').removeClass("hidden");
	}).mouseout(function(){
		$(this).find('#item_dropdown').addClass("hidden");
	});
	
	$("#item_accordion .panel-default").mouseover(function(){
		if(item_rate == 0){
			$(this).find('#item_rated').text("You've not rated this item yet");
		}else{
			$(this).find('#item_rated').text("You've rated this item: " + item_rate);
		}
	})
	
	$("#list_title").mouseover(function(){
		$("#list_title_dropdown").removeClass("hidden");
	}).mouseout(function(){
		$("#list_title_dropdown").addClass("hidden");
	});
	
	
	$("#save_list_confirm_btn").click(function(){
		var url = "/save-list",
			listName = $("#generate_listName").val(),
			info = $("#generate_info").val();
			
		$.post(url,{listName: listName, info: info, webpage: 1},function(data){
				if(data.status == 1){
					alert("List name has been used already");
				}
				if(data.status == 2){
					window.location.href="/";
					//$("#cancel_create").click();
				}
		});
	});
	
	if('<%= itemFirstPage %>' == 'true'){
		$("#item_page #first_item_page").hide();
	}else{
		$("#item_page #first_item_page").show();
	}
	
	if('<%= itemLastPage %>' == 'true'){
		$("#item_page #last_item_page").hide();
	}else{
		$("#item_page #last_item_page").show();
	}
});

function remove_function(itemId, itemName){
	item_id = itemId;
	$("#modalP").text("Are you sure you want to remove \"" +itemName + "\"?");
}

$("#remove_confirm_btn").click(function(){
	var url = "/remove-item/" + item_id;
	window.location.href=url;
});

$('#item_accordion .rateit').bind('rated', function(event, value) {
	var ri = $(this);
	var rated_value = value;
	var rated_itemId = ri.data('id');
	
	var url_1 = "/add-item-rate";
	$.post(url_1,{rating: rated_value, itemId: rated_itemId},function(data){
			alert('Rated successfully as: ' + value);
	});
});

$("#item_accordion .rateit").bind('over', function (event,value) { $(this).attr('title', value); });

function add_to_list_function(itemName, itemId){
	item_id = itemId;
	item_name = itemName;
}

function save_list_function(){
	
}

function select_list_function(listName, listId, itemIdList, itemNameList, rate, info){
	var url = "/add-to-list";
	$.post(url,{
				listName: listName,
				listId: listId,
				itemIdList: itemIdList,
				itemNameList: itemNameList,
				rate: rate,
				info: info,
				itemId: item_id,
				itemName: item_name
				},function(){
			$("#cancel_add_to_list").click();
	});
}

function find_item_rate_function(itemId, userId){

	$.post('/show-rate',{
			itemId: itemId,
			listId: null,
			userId: userId
			},function(data){
			item_rate = data.rating;
	});
}

</script>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-4">
		<ul class="pagination" id="item_page">
		  <li id="first_item_page"><a href="?item_p=<%= item_page-1 %>">&laquo;</a></li>
		  <li><span>Item Page <%= item_page %></span></li>
		  <li id="last_item_page"><a href="?item_p=<%= item_page+1 %>">&raquo;</a></li>
		</ul>
	</div>
</div>