<% if (user.userType == "admin") { %>
	<div class="col-md-3 col-md-offset-1">
	<div class="center-block">
		<h3 class="text-primary">Lists<h3>
	</div>
		<div class="scroll-area" data-spy="scroll" data-target=".scroll-area" data-offset="0">
			<div class="panel-group" id="list_accordion">
			<% lists.forEach(function (list, index) { %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="#panel_<%= list.listId %>" data-toggle="collapse" data-parent="#list_accordion">
								<%= list.listName %>
							</a>
							<% if (user.userType == "admin") { %>
								<div class="pull-right btn-group hidden" id="list_dropdown">
									<button type="button" class="btn btn-danger dropdown-toggle btn-xs" data-toggle="dropdown">Action<span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/view-list/<%= list.listId %>">View</a></li>
										<li><a href="#edit_list_modal" data-toggle="modal" onclick="edit_list_function('<%= list.listName %>', '<%= list.info %>')">Edit</a></li>
										<li><a href="#delete_list_modal" data-toggle="modal" onclick="delete_list_function('<%= list.listId %>', '<%= list.listName %>')" id="delete_list">Delete</a></li>
									</ul>
								</div>
							<% } %>
						</h3>
<!--This is delete_list modal-->
						<div class="modal fade" id="delete_list_modal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h3>Comfirm Delete</h3>
									</div>
									<div class="modal-body">
										<p id="delete_list_text">Are you sure you want to delete this list</p>
									</div>
									<div class="modal-footer">
										<a class="btn" data-dismiss="modal">Cancel</a>
										<a class="btn btn-primary" name="delete-btn" id="delete_list_confirm_btn">Delete</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-collapse collapse" id="panel_<%= list.listId %>">
						<div class="panel-body">
							<p class="text-muted">
								<strong>User name: </strong> <a href="/user/<%= list.userName %>"><%= list.userName %></a>
							</p>
							<p class="text-muted">
								<strong>Last updated: </strong> <%= list.lastUpdatedTime.day %>
							</p>
							<p class="text-muted">
								<strong>Rate: <span class="rateit"  id="rateit3" data-rateit-value="<%= list.rate %>" data-rateit-ispreset="true" data-rateit-readonly="true"></span></strong>
							</p>
							<p><strong>Description:</strong></p>
							<p><%= list.info %></p>
							<p><strong>Items:</strong></p>
							<p>
								<% if(list.itemNameList.length != 0) { %>
									<% list.itemNameList.forEach(function (itemName, index) { %>
										<span class="label label-info"><%= itemName %></span>
									<% }); %>
								<% }else{ %>
									<em>Let's add some items here!</em>
								<% } %>
							</p>
						</div>
					</div>
				</div>
			<% }); %>
<script>
var list_id;
var list_name;
var list_info;

$(document).ready(function(){
//	$("#list_accordion .panel-collapse").first().collapse('show');
	
	$("#create_list_confirm_btn").click(function(){
	var url = "/add-list",
		listName = $("#create_listName").val(),
		info = $("#create_info").val();
		
	$.post(url,{listName: listName, info: info, webpage: 1},function(data){
			if(data.status == 1){
				alert("List already exist");
			}
			if(data.status == 2){
				window.location.href="/";
			}
	});
	});
	
	$("#edit_list_confirm_btn").click(function(){
		var url = "/edit-list";
		list_info = $("#edit_info").val();
		$.post(url,{listName: list_name, info: list_info, webpage: 1},function(data){
			window.location.href="/";
			});
	});
	
	$("#list_accordion .panel-default").mouseover(function(){
		$(this).find('#list_dropdown').removeClass("hidden");
	}).mouseout(function(){
		$(this).find('#list_dropdown').addClass("hidden");
	});
	
	
	if('<%= listFirstPage %>' == 'true'){
		$("#list_page #first_list_page").addClass("disabled");
	}else{
		$("#list_page #first_list_page").removeClass("disabled");
	}
	
	if('<%= listLastPage %>' == 'true'){
		$("#list_page #last_list_page").addClass("disabled");
	}else{
		$("#list_page #last_list_page").removeClass("disabled");
	}
	
});

/***
function view_items_function(listId){
	var url = "/view-list/" + listId;
	$.get(url, function(){
	
	});
};
***/ 

function edit_list_function(listName, info){
	list_name = listName;
	$("#edit_list_modal_h3").text("Edit \"" + listName + "\"");
	$("#edit_listName").val(listName);
	$("#edit_info").val(info);
}

function delete_list_function(listId, listName){
	list_id = listId;
	$("#delete_list_text").text("Are you sure you want to delete \"" +listName + "\"?");
}

$("#delete_list_confirm_btn").click(function(){
	var url = "/delete-list/" + list_id;
	window.location.href=url;
});
</script>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<ul class="pagination" id="list_page">
			  <li id="first_list_page"><a href="?list_p=<%= list_page-1 %>">&laquo;</a></li>
			  <li id="last_list_page"><a href="?list_p=<%= list_page+1 %>">&raquo;</a></li>
			</ul>
		</div>
	</div>

<!--This is create_list modal-->
	
<div class="modal fade" id="create_list_modal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Create a list</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<label class="control-label" for="itemName">List name</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="create_listName" autofocus="autofocus" required="required" maxlength="25" placeholder="List name">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<label class="control-label" for="info">List Information</label>
						</div>
						<div class="col-md-8">
							<textarea class="form-control" id="create_info" name="info" row="8" placeholder="Some info here"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal" id="cancel_create">Cancel</a>
				<a class="btn btn-primary" id="create_list_confirm_btn">Create!</a>
			</div>
		</div>
	</div>
</div>

<!--This is edit_item modal-->

<div class="modal fade" id="edit_list_modal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="edit_list_modal_h3">Edit a list</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<label class="control-label" for="itemName">List name</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="edit_listName" autofocus="autofocus" required="required" maxlength="25" placeholder="List name"  disabled="disabled">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<label class="control-label" for="info">List Information</label>
						</div>
						<div class="col-md-8">
							<textarea class="form-control" id="edit_info" name="info" row="8"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal" id="cancel_create">Cancel</a>
				<a class="btn btn-primary" id="edit_list_confirm_btn">Submit!</a>
			</div>
		</div>
	</div>
</div>
<% } %>